@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> Settings
@{ 
    var sw = Context.Items["ProcessingTime"] as System.Diagnostics.Stopwatch;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Settings.Value.BlogTitle</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <b>@Settings.Value.BlogTitle</b>
        <nav>
            <a asp-action="Index">Home</a> |
            <a asp-action="About">About</a> |
            <a asp-action="Write">Write post</a>
        </nav>
        <hr />
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <hr />
        <small>
            &copy; @Settings.Value.BlogTitle @DateTime.UtcNow.Year
            <br />
            processed in @sw.Elapsed.TotalMilliseconds.ToString("#,#") ms
        </small>
    </footer>

    <script src="~/js/disable-form-buttons.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
